body {
    font-family: "Times New Roman", Times, serif;
}

#container {
    align-content: center;
    width:100%;
}

.header {
    font-size: 45px;
    color: white;
    text-align: center;
    vertical-align: center;
    line-height: 750px;
    background-image: url("/apple-pie/images/apple-pie.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 750px;
}

.recipe {
    width:30%;
    height: auto;
    text-align: justify;
    margin: 0 auto;
}

.img-info {
    display: block;
    width: 450px;
    margin: 0 auto;
}
